* {
  scroll-behavior: smooth;
}

@charset "utf-8";

@font-face {
  font-family: "HalisGR-SLight";
  src: url("webfonts/39699D_11_0.eot");
  src: url("webfonts/39699D_11_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/39699D_11_0.woff2") format("woff2"),
    url("webfonts/39699D_11_0.woff") format("woff"),
    url("webfonts/39699D_11_0.ttf") format("truetype");
}
@font-face {
  font-family: "HalisGR-SMedium";
  src: url("webfonts/39699D_13_0.eot");
  src: url("webfonts/39699D_13_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/39699D_13_0.woff2") format("woff2"),
    url("webfonts/39699D_13_0.woff") format("woff"),
    url("webfonts/39699D_13_0.ttf") format("truetype");
}
@font-face {
  font-family: "HalisGR-SRegular";
  src: url("webfonts/39699D_14_0.eot");
  src: url("webfonts/39699D_14_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/39699D_14_0.woff2") format("woff2"),
    url("webfonts/39699D_14_0.woff") format("woff"),
    url("webfonts/39699D_14_0.ttf") format("truetype");
}
@font-face {
  font-family: "HalisGR-Regular";
  src: url("webfonts/39699D_B_0.eot");
  src: url("webfonts/39699D_B_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/39699D_B_0.woff2") format("woff2"),
    url("webfonts/39699D_B_0.woff") format("woff"),
    url("webfonts/39699D_B_0.ttf") format("truetype");
}

/* common
---------------------------------------------------------------------------*/
body {
  background-color: #f9f9f9;
  color: #105670;
  font-size: 14px;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "メイリオ", Meiryo, sans-serif;
  line-height: 1;
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body.noscroll {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

::-moz-selection {
  background: #e9edee;
  color: #105670;
}
::selection {
  background: #e9edee;
  color: #105670;
}

p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
p:last-of-type {
  margin-bottom: 0 !important;
}
address,
i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body.pc .pc_view {
  display: block !important;
}
body.pc .sp_view {
  display: none !important;
}
body.sp .sp_view {
  display: block !important;
}
body.sp .pc_view {
  display: none !important;
}
.block {
  display: block !important;
}

/* txt
------------------------------------*/
.font-mix {
  font-family: "HalisGR-SRegular", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック体", YuGothic, "Hiragino Sans", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.font-gothic {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "メイリオ", Meiryo, sans-serif;
}
.font-min {
  font-family: "游明朝体", "游明朝", YuMincho, "ヒラギノ明朝 ProN",
    "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.font-en-sl {
  font-family: "HalisGR-SLight";
}
.font-en-sm {
  font-family: "HalisGR-SMedium";
}
.font-en-sr {
  font-family: "HalisGR-SRegular";
}
.font-en-r {
  font-family: "HalisGR-Regular";
} /* yen */

.font-en-sue {
  font-family: "Sue Ellen Francisco";
}

/* link
------------------------------------*/
a {
  color: #105670;
  text-decoration: none;
  transition: 0.15s ease-out;
  -webkit-transform: translateZ(0);
}
a:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* .btn
---------------------------------------------------------------------------*/

/*.btn-bullet
------------------------------------*/
.btn-bullet {
  overflow: hidden;
  margin-top: 30px;
}

.btn-bullet li {
  display: inline-block;
  margin: 0 6px 10px 0;
}

.btn-bullet a,
.btn-bullet > span {
  display: inline-block;
  padding: 16px 49px 14px 44px;
  line-height: 1.7;
  background: #105670;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 3px;
  position: relative;
  transition: 0.15s ease-out;
  cursor: pointer;
}

.btn-bullet > span:hover {
  opacity: 0.5;
}

.btn-bullet.brown a,
.btn-bullet.brown > span {
  background: #524d3d;
}

.btn-bullet a::after,
.btn-bullet > span::after {
  content: "";
  position: absolute;
  display: block;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
}

.btn-bullet.size-m a,
.btn-bullet.size-m > span,
.btn-bullet.size-s a,
.btn-bullet.size-s > span {
  padding: 6px 34px 5px 16px;
  font-size: 14px;
  border-radius: 3px;
}

.btn-bullet.size-m a,
.btn-bullet.size-m > span {
  padding-top: 10px;
  padding-bottom: 9px;
}

.btn-bullet.size-m a::after,
.btn-bullet.size-m > span::after,
.btn-bullet.size-s a::after .btn-bullet.size-s > span::after {
  right: 14px;
}

@media all and (-ms-high-contrast: none) {
  .btn-bullet a,
  .btn-bullet > span {
    padding-top: 19px;
    padding-bottom: 11px;
  }
  .btn-bullet.size-m a,
  .btn-bullet.size-m > span {
    padding-top: 12px;
    padding-bottom: 7px;
  }
  .btn-bullet.size-s a,
  .btn-bullet.size-s > span {
    padding-top: 8px;
    padding-bottom: 3px;
  }
}

/* .btn-back
------------------------------------*/
.btn-back a {
  position: relative;
  display: inline-block;
  padding: 5px 5px 5px 22px;
  font-size: 13px;
  letter-spacing: 0.13em;
}

.btn-back a:before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background: url(img/arrow.png) no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 7px;
  /* transform: scaleX(-1); */
}

.btn-back.white a:before {
  background-image: url(img/arrow.png);
}

@media all and (-ms-high-contrast: none) {
  .btn-back a:before {
    top: 10px;
  }
}

_:-ms-lang(x)::backdrop,
.btn-back a:before {
  top: 10px;
}

/* .sns
------------------------------------*/
.sns li a {
  display: inline-block;
  padding: 7px;
}

.sns .white {
  display: none;
}

/* header
---------------------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  right: calc(100% - 70px);
  background: linear-gradient(225deg, #3ca389 0%, #1e4a53 100%);
  width: 25%;
  min-width: 365px;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1001;
  cursor: pointer;
}

header.active {
  cursor: default;
}

header.zindex {
  z-index: 9999;
}

header,
header a {
  color: #ffffff;
}

header .btn-back {
  position: absolute;
  top: 34px;
  left: 32px;
}

/* .btn-nav
------------------------------------*/
.btn-nav {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 70px;
  height: 95px;
  padding-top: 60px;
  text-align: center;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  cursor: pointer;
  z-index: 10000;
}

.btn-nav.active {
  top: 6px;
  right: 10px;
  transition: 0.15s ease-out;
}

.btn-nav.active:hover {
  opacity: 0.5;
}

.btn-nav div {
  position: absolute;
  top: 25px;
  left: 18px;
  width: 34px;
  height: 34px;
}

.btn-nav span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
  width: 19px;
  height: 1px;
  transform-origin: center center;
  transition: 0.2s ease-out;
}

.btn-nav span:nth-of-type(1) {
  top: 4px;
  right: 5px;
}
.btn-nav span:nth-of-type(2) {
  top: 11px;
  right: 7px;
}
.btn-nav span:nth-of-type(3) {
  top: 18px;
  right: 9px;
}

header:hover .btn-nav:not(.active) span:nth-of-type(1) {
  animation: btn-nav1 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
header:hover .btn-nav:not(.active) span:nth-of-type(2) {
  animation: btn-nav2 0.35s cubic-bezier(0.645, 0.045, 0.355, 1) 0.05s forwards;
}
header:hover .btn-nav:not(.active) span:nth-of-type(3) {
  animation: btn-nav3 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.1s forwards;
}

@keyframes btn-nav1 {
  0% {
    width: 19px;
    left: static;
    right: 5px;
    transform-origin: right center;
    opacity: 1;
  }
  50% {
    width: 0;
    left: static;
    right: 5px;
    transform-origin: right center;
    opacity: 0;
  }
  100% {
    width: 19px;
    left: 10px;
    right: inherit;
    transform-origin: left center;
    opacity: 1;
  }
}
@keyframes btn-nav2 {
  0% {
    width: 19px;
    left: static;
    right: 7px;
    transform-origin: right center;
    opacity: 1;
  }
  50% {
    width: 0;
    left: static;
    right: 7px;
    transform-origin: right center;
    opacity: 0;
  }
  100% {
    width: 19px;
    left: 8px;
    right: inherit;
    transform-origin: left center;
    opacity: 1;
  }
}
@keyframes btn-nav3 {
  0% {
    width: 19px;
    left: static;
    right: 9px;
    transform-origin: right center;
    opacity: 1;
  }
  50% {
    width: 0;
    left: static;
    right: 9px;
    transform-origin: right center;
    opacity: 0;
  }
  100% {
    width: 19px;
    left: 6px;
    right: inherit;
    transform-origin: left center;
    opacity: 1;
  }
}

.btn-nav.active span:nth-of-type(1) {
  transform: translateY(7px) rotate(-45deg);
  width: 45px;
  right: -7px;
}
.btn-nav.active span:nth-of-type(2) {
  animation: active-menu-bar02 0.4s forwards;
  opacity: 0;
}
.btn-nav.active span:nth-of-type(3) {
  transform: translateY(-7px) rotate(45deg);
  width: 45px;
  right: -6px;
}

@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

.btn-nav p {
  display: block;
  font-size: 10px;
  letter-spacing: 0.15em;
  font-weight: 500;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-nav.active p {
  transform: translateX(-10px);
  opacity: 0;
}

/* header .inner
------------------------------------*/
header .inner {
  position: absolute;
  bottom: 50px;
  left: 40px;
}

header .logo {
  margin-bottom: 40px;
}

header .logo img {
  width: 200px;
  height: auto;
}

/* header .gnav
------------------------------------*/
header .gnav {
  margin-bottom: 40px;
}

/* header .gnav > ul:first-of-type > li:first-of-type {
  display: none;
} */

header .gnav > ul > li > a,
header .gnav > ul > li > span {
  display: inline-block;
  position: relative;
  padding: 8px 10px 10px 0;
  font-size: 15px;
  letter-spacing: 0.1em;
}

header .gnav .btn-ac-nav {
  padding-right: 22px;
  cursor: pointer;
  transition: 0.15s ease-out;
}

header .gnav .btn-ac-nav i {
  display: block;
  position: absolute;
  top: 9px;
  right: 0;
  width: 13px;
  height: 13px;
  transition: 0.2s ease-out;
  opacity: 0.8;
}

header .gnav .btn-ac-nav:hover i,
header .gnav .btn-ac-nav.active i {
  transform: rotate(225deg);
}

header .gnav .btn-ac-nav i:before,
header .gnav .btn-ac-nav i:after {
  display: block;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

header .gnav .btn-ac-nav i:before {
  top: 6px;
  left: 0;
  width: 100%;
  height: 1px;
}

header .gnav .btn-ac-nav i:after {
  top: 0;
  left: 6px;
  width: 1px;
  height: 100%;
}

header .gnav .btn-ac-nav:hover {
  opacity: 0.5;
}

header .gnav .btn-ac-nav + .mnav {
  display: none;
}

header .gnav .btn-ac-nav + .mnav.active {
  display: block;
}

header .gnav > ul > .current > a:before,
header .mnav > ul > .current > a:before,
header .snav > ul > .current > a:before {
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  left: -16px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

header .mnav > ul > .current > a:before {
  top: 10px;
  left: -14px;
}

header .snav > ul > .current > a:before {
  top: 9px;
}

header .mnav {
  padding: 8px 0 18px 18px;
}

header .mnav a {
  position: relative;
  display: inline-block;
  padding: 5px 10px 12px 0;
  font-size: 14px;
  letter-spacing: 0.08em;
}

header .mnav a:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 9px;
  left: 0;
  background-color: #ffffff;
  width: calc(100% - 11px);
  height: 1px;
  opacity: 0.5;
}

@media all and (-ms-high-contrast: none) {
  header .gnav > ul > .current > a:before,
  header .mnav > ul > .current > a:before,
  header .snav > ul > .current > a:before {
    top: 11px;
  }
}

header .mnav a + span {
  display: inline-block;
  margin-left: -4px;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* .sns
------------------------------------*/
header .sns {
  position: absolute;
  bottom: 20px;
  right: 15px;
  margin: -30px -15px -20px;
  padding: 30px 15px 20px;
  text-align: center;
  transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

header.active .sns {
  bottom: 35px;
  right: 33px;
}

header .sns span {
  display: block;
  margin: 0 0 7px 2px;
  font-size: 11px;
  letter-spacing: 0.1em;
}

header .sns img {
  display: none;
}
header .sns img.white {
  color: white;
  display: block;
}

/* media query
-----------------------------------*/
@media (max-height: 820px) {
  header .logo {
    margin-bottom: 30px;
  }
  header .logo img {
    width: 58px;
    height: auto;
  }
  header .gnav {
    margin-bottom: 30px;
  }
  header .gnav > ul > li > a {
    padding-bottom: 9px;
    font-size: 14px;
  }
  header .mnav {
    padding-bottom: 16px;
  }
  header .mnav a {
    font-size: 13px;
  }
}
@media (max-height: 760px) {
  header .inner {
    bottom: 40px;
  }
  header .logo {
    display: none;
  }
  header.active .sns {
    bottom: 30px !important;
  }
}

/* footer
---------------------------------------------------------------------------*/
footer {
  width: 100%;
  margin: 0;
  padding: 200px 0 0;
  white-space: nowrap;
}

footer .copy {
  margin-bottom: 70px;
  text-align: center;
}

footer .copy em {
  display: block;
  margin-bottom: 18px;
  font-size: 21px;
  letter-spacing: 0.14em;
}

footer .copy strong {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15em;
}

footer .inner {
  display: -webkit-box;
  display: flex;
  background-color: #000000;
}

footer .inner-main {
  box-sizing: border-box;
  width: 62%;
  padding: 6% 6% 5%;
}

footer .logo {
  margin-bottom: 35px;
}

footer .logo img {
  width: 193px;
  height: auto;
}

footer .gnav {
  display: -webkit-box;
  display: flex;
  /* 	flex-direction: row-reverse; */
}

footer .gnav ul:nth-of-type(1) {
  width: 55%;
}
footer .gnav ul:nth-of-type(2) {
  width: 45%;
}

footer .gnav a {
  display: inline-block;
  padding: 5px 10px 13px 0;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

footer .inner-sub {
  box-sizing: border-box;
  background-color: white;
  width: 38%;
  padding: 35px 0 0 45px;
  /* padding: 6%; */
}

footer .sns {
  margin: 10px 0 42px -3px;
}

footer .sns-list li {
  display: inline-block;
}

footer .sns-list li img {
  width: 28px;
}

footer .sns-list a {
  display: inline-block;
  padding: 3px;
}

footer .snav {
  margin-left: 1px;
}

footer .snav .footer-none {
  display: none;
}

footer .snav a {
  display: inline-block;
  background: url(img/share/ico-arrow-s.svg) no-repeat left top 8px;
  padding: 5px 5px 8px 21px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.copyright {
  display: block;
  margin-top: 15px;
  font-size: 10px;
  color: #045671;
  letter-spacing: 0.13em;
  transform-origin: left bottom;
  transform: scale(0.8);
}

/* contents
---------------------------------------------------------------------------*/
#mainContents {
  display: block;
  width: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* main
------------------------------------*/
main {
  display: block;
  position: relative;
  float: right;
  width: calc(100% - 70px);
}

#visual + main {
  width: 50%;
  min-height: 100vh;
}

main > .logo-mark {
  position: absolute;
  top: 35px;
  right: 37px;
}

main > .logo-mark img {
  width: 47px;
  height: auto;
}

#main {
  padding: 110px 10% 0;
}

#main-inner {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  opacity: 0;
}

/* .ico-num
------------------------------------*/
.ico-num {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #105670;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  padding: 10px 0 0 1px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

/* #visual
---------------------------------------------------------------------------*/
#visual .bg,
#visual .slider-img .slick-list,
#visual .slider-img .inner {
  height: 100vh;
}

#visual .bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #192b32;
  width: 50%;
  min-width: 600px;
  z-index: -1;
}

#visual .slider-img {
  opacity: 0;
}

#visual .slider-img .slick-list {
  position: fixed !important;
  top: 0;
  left: 70px;
  width: calc(50% - 70px);
}

#visual .slider-img .slick-list,
#visual h1:after,
.modal-common,
.modal-common-bg,
.modal-fix-bg,
.cart-gift,
#visual .fix-nav-wrap {
  min-width: calc(600px - 70px);
}

#visual .slider-img .inner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* .slick-dots
------------------------------------*/
.slider-img .slick-dots {
  position: fixed;
  top: 50%;
  left: 24px;
  box-sizing: border-box;
  margin: -24px;
  padding: 24px;
  transform: translate(-24px, -50%);
  z-index: 10000;
  opacity: 0;
}

.slider-img .slick-dots li {
  position: relative;
  width: 22px;
  height: 22px;
}

.slick-dots > li:first-child:last-child {
  display: none;
}

.slider-img .slick-dots button {
  position: relative;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  transition: 0.15s linear;
}

.slider-img .slick-dots button:after {
  display: block;
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.slider-img .slick-dots button:hover:after,
.slider-img .slick-dots .slick-active button:after {
  background: #9e9479;
}

/* .slider
---------------------------------------------------------------------------*/
.slider-wrap {
  padding-bottom: 30px;
}

.slider-wide {
  width: 100%;
}

.slider-wide .inner {
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
}

.slider-wide .inner:first-of-type {
  opacity: 1;
}

.slider-wide .inner img {
  width: 100%;
  height: auto;
}

/* .slick-dots
------------------------------------*/
.slider-wide .slick-dots {
  position: absolute;
  bottom: -28px;
  right: 10px;
}

.slider-wide .slick-dots li {
  position: relative;
  float: left;
  width: 22px;
  height: 22px;
}

.slider-wide .slick-dots button {
  position: relative;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  transition: 0.15s linear;
}

.slider-wide .slick-dots button:after {
  display: block;
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  background: #105670;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  opacity: 0.2;
}

.slider-wide .slick-dots button:hover:after,
.slider-wide .slick-dots .slick-active button:after {
  background: #105670;
  opacity: 1;
}

/* title
---------------------------------------------------------------------------*/

/* .page-title
------------------------------------*/
.page-title {
  margin-bottom: 60px;
}

.page-title em {
  display: block;
  margin: 0 0 4px -2px;
  font-size: 35px;
  letter-spacing: 0.05em;
}

.page-title strong {
  padding-left: 1px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

/* #page-head
------------------------------------*/
#page-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 45px;
  text-align: center;
  white-space: nowrap;
}

#page-head .btn-back {
  position: absolute;
  top: 41px;
  left: 40px;
}

#page-head h2 {
  position: relative;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.16em;
}

#page-head h2:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -4px;
  left: -2px;
  background-color: #005672;
  width: calc(100% + 2px);
  height: 1px;
  opacity: 0.4;
}

/* .sec-lead
------------------------------------*/
.sec-lead {
  margin-bottom: 70px;
}

.sec-lead p {
  text-align: justify;
}

.sec-lead h2 {
  margin-bottom: 25px;
}

.sec-lead h2 strong {
  display: block;
  margin: 0 0 9px -2px;
  font-size: 26px;
  letter-spacing: 0.1em;
}

.sec-lead h2 em {
  font-size: 15px;
  letter-spacing: 0.15em;
}

/* .sub-title
------------------------------------*/
.sub-title {
  position: relative;
  box-sizing: border-box;
  max-width: calc(100% - 200px);
  padding-left: 22px;
  color: #524d3d;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.12em;
}

.sub-title:before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-color: #d2c8af;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

@media all and (-ms-high-contrast: none) {
  .sub-title:before {
    top: 3px;
  }
}

/* .title-center
------------------------------------*/
.title-center {
  text-align: center;
}

.title-center strong {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  background: #a9a088;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 9px 15px 8px;
  border-radius: 20px;
  letter-spacing: 0.19em;
}

.title-center span {
  display: block;
  font-weight: normal;
  font-size: 29px;
  letter-spacing: 0.08em;
}

.title-center b {
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
  letter-spacing: 0.15em;
  line-height: 1.7;
}

@media all and (-ms-high-contrast: none) {
  .title-center strong {
    padding-top: 11px;
    padding-bottom: 6px;
  }
}
/* text
---------------------------------------------------------------------------*/
/* .txt-small
------------------------------------*/
.txt-small {
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.8;
}

/* .calendar
------------------------------------*/
.calendar p {
  margin-top: 8px;
  /* 	color: #888888; */
  font-size: 12px;
  letter-spacing: 0.04em;
}

/* .modal-common
---------------------------------------------------------------------------*/
.modal-common,
.modal-fix-bg {
  position: fixed;
  top: 0;
  left: 70px;
  width: calc(50% - 70px);
  height: 100vh;
  z-index: 1000;
  display: none;
  opacity: 0;
}

.modal-fix-bg {
  background-color: #031f2a;
  z-index: 999;
}

.modal-common-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #031f2a;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  z-index: -1;
}

.modal-common-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  color: #ffffff;
  width: calc(100% - 4px);
  max-height: calc(100% - 8px);
  margin: 0 -2px;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
}

.modal-common-inner::-webkit-scrollbar {
  width: 1px;
}

.modal-common-inner::-webkit-scrollbar-track {
  border-radius: 3px;
  background: none;
}

.modal-common-inner::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #dee6e9;
}

.modal-common-close,
.modal-fix-close {
  cursor: pointer;
  display: none;
  opacity: 0;
}

.modal-fix-close {
  position: fixed;
  top: 33px;
  left: calc(50% - 66px);
  z-index: 1001;
}

.modal-common-close {
  position: absolute;
  top: 33px;
  right: 33px;
  z-index: 100;
}

.modal-common-close img,
.modal-fix-close img {
  transition: 0.15s ease-out;
}

.modal-common-close img:hover,
.modal-fix-close img:hover {
  opacity: 0.5;
}

/* media query
-----------------------------------*/
@media (max-width: 1200px) {
  .modal-fix-close {
    left: calc(600px - 66px);
  }
}
/* .lunch-list
---------------------------------------------------------------------------*/

/* .lunch-list
------------------------------------*/
.lunch-list {
  position: relative;
  border-top: 1px solid #dee6e9;
  margin: 0 -25px;
}

.lunch-list:before {
  top: 0;
}
.lunch-list:after {
  bottom: 0;
}

.lunch-list:last-of-type {
  margin-bottom: 0;
}

.lunch-list + p {
  margin-top: 10px;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: right;
}

.lunch-list article {
  border-bottom: 1px solid #dee6e9;
}

.lunch-list article:last-of-type {
  background: none;
}

.lunch-list a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 112px;
  padding: 20px 4% 18px 20px;
}

.lunch-list a:hover {
  background-color: #e9edee;
  opacity: 1;
}

.lunch-list figure {
  align-self: flex-start;
  width: 72px !important;
  min-width: 72px !important;
  margin: 0 !important;
}

.lunch-list figure img {
  width: 72px;
}

.lunch-list .inner {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-left: 25px;
}

.lunch-list .label {
  height: 16px;
  margin-bottom: 11px;
}

.lunch-list .label .num {
  display: inline-block;
  border-bottom: 1px solid #407a83;
  margin-right: 8px;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.12em;
  transform: translateY(-1px);
}

.label .roast {
  display: inline-block;
  border: 1px solid #105670;
  border-radius: 20px;
  margin: 0 0 0 -2px;
  padding: 2px 3px 1px 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.1em;
}

_:-ms-lang(x)::backdrop,
.label .roast {
  padding-top: 0;
  padding-bottom: 3px;
}

.label .roast.light {
  border-color: #9e9479;
  color: #9e9479;
}
.label .roast.middle {
  background-color: #787156;
  border-color: #787156;
  color: #ffffff;
}
.label .roast.deep {
  background-color: #2c2408;
  border-color: #2c2408;
  color: #ffffff;
}

.lunch-list h3 {
  margin: 2px 70px 1px 0;
}

.lunch-list .label + h3 {
  margin-top: 0;
}

.lunch-list h3 em {
  display: inline-block;
  padding-right: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.lunch-list h3 strong {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 1px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.14em;
  transform: translateY(-1px);
}

.lunch-list article p {
  padding-left: 1px;
  font-size: 13px;
  line-height: 1.7;
  text-align: justify;
}

.lunch-list .price {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 15px;
  letter-spacing: 0.08em;
}

.lunch-list .price.pt {
  top: 6px;
}

.lunch-list .price.mr {
  margin-right: -10px;
}

.lunch-list + p {
  margin: 10px -25px 0 0;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-align: right;
}

/* .news-list
---------------------------------------------------------------------------*/
.news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.news-list article {
  width: 46%;
  margin: 8% 8% 0 0;
}

.news-list article:nth-of-type(1),
.news-list article:nth-of-type(2) {
  margin-top: 0;
}

.news-list article:nth-child(even) {
  margin-right: 0;
}

.news-list a {
  display: block;
}

.news-list figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  padding-bottom: 66.6%;
}

.news-list figure img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.news-list h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.08em;
  margin-bottom: 5px;
}

.time-category-wrap {
  display: flex;
  transform: translateX(1px);
}

.news-list time {
  font-size: 13px;
  letter-spacing: 0.05em;
  margin-right: 13px;
}

.news-list .category {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.news-list .category ul {
  line-height: 1.4;
}

.news-list .category ul li {
  display: inline-block;
  margin: 0 0 4px 0;
  letter-spacing: 0.1em;
}

.news-list .category ul li a {
  display: inline;
}

.news-list .category ul li::after {
  content: ",";
  padding-left: 2px;
}

.news-list .category ul li:last-of-type::after {
  display: none;
}

.news-list .category ul li:last-of-type {
  margin: 0;
}

@media all and (-ms-high-contrast: none) {
  .news-list .category ul {
    transform: translateY(4px);
  }
}

_:-ms-lang(x)::backdrop,
.news-list .category ul {
  transform: translateY(1px);
}

/* .shop-detail
---------------------------------------------------------------------------*/
.shop-detail {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 1%;
  box-sizing: border-box;
}

.shop-detail + .shop-detail {
  margin-top: 110px;
}

.shop-info {
  width: 54%;
  padding: 15px 8% 0 0;
  box-sizing: border-box;
}

.shop-info h2 {
  position: relative;
  font-size: 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.shop-info h2 .bubble {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%) !important;
  font-size: 12px;
  letter-spacing: 0.13em;
}

.modal-access .shop-info h2 .bubble {
  border-color: #ffffff;
}

.shop-info h2 .bubble::after {
  background: url(img/share/ico-bubble.svg);
  left: 50%;
  margin-left: -7px;
  bottom: -13.5px;
}

.modal-access .shop-info h2 .bubble::after {
  background: url(img/share/ico-bubble-white.svg);
}

.shop-info h2 small {
  display: inline-block;
  letter-spacing: 0.1em;
  font-size: 13px;
}

.shop-info h2 strong {
  font-size: 27px;
  display: inline-block;
  letter-spacing: 0.07em;
  margin: 12px 0 12px;
}

.shop-info h2 span {
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

/* .p-block
------------------------------------*/
.shop-info .p-block {
  margin-top: 40px;
  padding-left: 3px;
}

.shop-info .p-block p {
  line-height: 1.7;
  letter-spacing: 0.09em;
}

.shop-info .p-block .txt-small {
  display: block;
  font-size: 11px;
  margin-bottom: 3px;
  transform: translateX(1px);
}

/* .hours
------------------------------------*/
.shop-info .hours {
  margin: 30px 0 0 -5px;
}

.shop-info .hours h3 {
  font-weight: 600;
  font-size: 12px;
  padding-left: 8px;
  padding-bottom: 10px;
  letter-spacing: 0.1em;
}

.shop-info .hours dl {
  border-top: solid 1px #dee6e9;
  margin-bottom: 10px;
}

.shop-info .hours dl div {
  border-bottom: solid 1px #dee6e9;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
  letter-spacing: 0.05em;
}

.shop-info .hours dt {
  font-weight: 600;
}

.shop-info .hours dd i {
  display: inline-block;
  padding: 0 2px 0 3px;
  transform: translateY(1px);
}

.shop-info .hours small {
  font-size: 12px;
  padding-left: 8px;
  letter-spacing: 0.1em;
}

/* .map-area
------------------------------------*/
.shop-detail .map-area {
  width: 46%;
}
